.grid .header .padreUno {
  background-color: aquamarine; }
  .grid .header .padreUno .link:hover {
    background-color: brown; }

.main {
  background-color: yellow; }
  .main .prod {
    color: red; }
    .main .prod:hover {
      background-color: bisque; }
